@using Entity.Models
@model List<AboutUs>


@{
    Layout = null;
}

<section id="menu-features" class="features">
    <h2 id="fittext2" class="title-start">About us</h2>
    <p class="sub-title">Featured PROJECTS THAT WE LOVE.</p>
    <div class="container column-section">
        @*<div class="item-section col-md-1">
            <div class="icon text-center"><i class="fa fa-3x fa-circle-o-notch"></i></div>
            <h4 class="item-title text-center">A visit back to The Vedas</h4>
            <p class="featured-text">Gregor then turned to look out the window at the dull one. weather. Drops of rain could the dull one. the dull one. weather. Drops of rain could the dull one. </p>
        </div>*@
        <div class="item-section col-md-12" style="text-align:center">
            <div class="icon text-center"><i class="fa fa-3x fa-life-ring"></i></div>
            <h4 class="item-title text-center">Biz Kimiz?</h4>
            <p class="featured-text">@*Gregor then turned to look out the window at the dull one. weather. Drops of rain could the dull one. the dull one. weather. Drops of rain could the dull one.*@GOLD Gym olarak spor sektöründe misafirlerimizin hayallerinin ötesine geçen ve fark yaratan projelerle,“en yeni ve en iyi”yi sunan buluşma noktaları yaratmak üzere yola çıktık.  2007 yılından&nbsp;beri; ileri teknoloji, bilimsellik ve eğlenceyi birleştirerek, insanların yaşam kalitelerini artıran kişiye özel tasarlanmış hizmetleri, profesyonel bir yönetimle sunuyoruz. Misafirlerimiz için, içten ve samimi hizmet, ait hissedilen ortamlar ve yenilikler sunarak pozitif deneyimler yaratmak, önceliğimiz olmaya devam edecek. </p>
        </div>
        @*<div class="item-section col-md-1">
            <div class="icon text-center"><i class="fa fa-3x fa-star"></i></div>
            <h4 class="item-title text-center">A visit back to The Vedas</h4>
            <p class="featured-text">Gregor then turned to look out the window at the dull one. weather. Drops of rain could the dull one. the dull one. weather. Drops of rain could the dull one. </p>
        </div>*@
        
    </div>
    
</section>
